div.container {
    width:100%;
    overflow: auto;
}

div.container div {
    width: 33%;
    float: left;
}

div.container2 div {
    width:30%;
    display: inline-block
}

.container3 {
    display: flex;
}

.container3 > div {
    width: 33%;
}

.container4 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}