iframe {
    /* Editing the dimensions */
    height: 200px;
    width: 400px;

    /* Customizing the border */
    border: 1px solid #04A5AA;
    border-radius: 10px;
    box-shadow: rgb(225, 254, 255) 10px 10px 10px;
}

/* General customizations */
p a:visited {
    color: green;
}

p a:hover {
    color: tomato;
}