.colored_hyperlinks a:link {
    color: palevioletred;
}

.colored_hyperlinks p:first-child a:visited {
    color: palegreen;
}

.colored_hyperlinks p:last-child a:visited {
    color: paleturquoise;
}

.colored_hyperlinks p:first-child a:hover, .colored_hyperlinks p:last-child a:hover{
    color: darkgoldenrod;
    text-decoration: darkgoldenrod underline dotted;
}
